.income-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  width: 100%;
  padding: 20px;
}

.title {
  font-size: 42px;
  font-weight: 400;
  margin-right: 20px;
  text-decoration: underline;
}
