@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300;400;600;700;900&display=swap');

html {
  --magenta: '#ff005e';
  --orange: '#f09900';
  --red: '#e61719';
  --lightGreen: '#40bf00';
  --white: '#ffffff';
  --lavenderGrey: '#c1c9d0';
  --black: '#000000';
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Asap Condensed', sans-serif;
}

* {
  margin: 0;
}

input[type='text'][disabled] {
  background-color: var(--color-lightestGrey);
  color: var(--color-grey);
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: 600 !important;
}
