:root {
  --color-magenta: #ff005e;
  --color-orange: #f09900;
  --color-red: #e61719;
  --color-lightGreen: #bcf1a1;
  --color-darkerLightGreen: #99e274;
  --color-white: #ffffff;
  --color-lavenderGrey: #c1c9d0;
  --color-grey: #727577;
  --color-black: #000000;
}
