.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 20px;
}

.input-field {
  margin-top: 5px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--color-lavenderGrey);
  text-align: center;
}

.input-field-total {
  padding: 7px;
  width: 100px;
  background-color: var(--color-orange);
  border: none;
  color: var(--color-white);
  font-weight: 600;
  font-size: 20px;
}

.input-field-income-left {
  padding: 7px;
  width: 100px;
  border-radius: 30px;
  border: 2px solid var(--color-darkerLightGreen);
  color: var(--color-darkerLightGreen);
  font-weight: 600;
  font-size: 20px;
}
